name: Lint Code
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  statuses: write
  pull-requests: write
  checks: write

jobs:
  super-linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run Super-Linter
        uses: super-linter/super-linter@v8
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PYTHON_PYLINT_CONFIG_FILE: .pylintrc
          VALIDATE_ALL_CODEBASE: false
          DISABLE_ERRORS: false
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_JSON: true
